@import './fonts';
@import './colors';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    font-family: $lato;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $poppins;
    font-weight: 700;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}