// Base styles

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: $container-xl;
    margin: 0 auto;
    padding: 0 3vw;

    .cta-group {
        display: flex;
        flex-direction: row;

        .btn-secondary {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.7rem 1.8rem;
            position: relative;
            border-radius: $border-r-2;
            background: transparent;
            border: 2px solid $green;
            color: $green;
            margin-right: $gap-2;
            font-size: 1.2rem;
            min-width: 180px;
            transition: 0.7s ease-in-out;
            box-sizing: border-box;
            box-shadow: -4px 4px 25px rgba(6, 214, 160, 0.15);

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: -1px;
                left: -2px;
                width: 0%;
                height: 103%;
                z-index: -1;
                background: $green-dark;
                border-radius: $border-r-2;
                transition: 0.7s ease-in-out;
            }

            &:hover {
                color: $white;

                &::after {
                    width: 102%;
                }
            }
        }
    }

    .btn-primary {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.7rem 1.8rem;
        position: relative;
        border-radius: $border-r-2;
        background: $green;
        color: $white;
        margin-right: $gap-2;
        font-size: 1.2rem;
        min-width: 180px;
        transition: 0.7s ease-in-out;
        box-shadow: -4px 4px 20px rgba(42, 157, 143, 0.25);

        &:hover {
            background: $green-dark;
        }
    }

    .btn-heavy {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.7rem 1.8rem;
        position: relative;
        border-radius: $border-r-2;
        background: $green-heavy;
        color: $white;
        margin-right: $gap-2;
        font-size: 1.2rem;
        min-width: 180px;
        transition: 0.7s ease-in-out;

        &:hover {
            background: $green-dark;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 576px;

    .title {
        color: $green-heavy;
        margin-bottom: $gap-2;
    }

    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        color: $gray-dark;
        margin-bottom: $gap-3;
    }
}

.row {
    flex-direction: row;
    width: 100%;
}

// Home view

.home {
    max-width: $container-xl;
    margin: 0 auto;
    position: relative;
}

.circle {
    img {
        top: -20vh;
        right: -17vw;
        position: absolute;
        max-width: 1000px;
        z-index: -1;

        @include responsive(xl) {
            top: -7%;
            right: -13%;
        }
    }
}

// Hero section

#hero {
    .container {
        justify-content: space-between;
    }
}

// About us section

#about-us {
    .container {
        justify-content: space-evenly;

        .content {
            max-width: 450px;
            position: relative;

            p {
                margin-bottom: 0;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                opacity: 1;
                top: -20px;
                left: -20px;
                width: 10%;
                height: 30%;
                border-top: 3px solid $green;
                border-left: 3px solid $green;
                border-radius: 2px;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                opacity: 1;
                bottom: -20px;
                right: -5px;
                width: 10%;
                height: 30%;
                border-bottom: 3px solid $green;
                border-right: 3px solid $green;
                border-radius: 2px;
            }
        }
    }
}

#our-services,
#prices,
#testimonials {
    .container {
        flex-direction: column;
        padding: 5rem 1rem;

        .cards-grid,
        .cards-prices {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: $gap-4;

            .card {
                max-width: 350px;
                padding: 2rem;
                border-radius: $border-r-4;
                box-shadow: -4px 4px 25px rgba(6, 214, 160, 0.25);

                img {
                    max-width: 100px;
                    margin: 0 auto;
                    margin-bottom: $gap-3;

                    &.performance,
                    &.seo {
                        max-width: 66px !important;
                    }
                }

                h3 {
                    font-size: 1.3rem;
                    margin-bottom: $gap-2;
                    color: $green;
                }
            }
        }
    }
}

.heading {
    h2 {
        font-size: 2rem;
        color: $green-heavy;
        margin-bottom: $gap-4;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            margin: 0 auto;
            bottom: -50%;
            left: 0;
            right: 0;
            width: 50px;
            border-bottom: 3px solid $green;
            height: 10px;
        }
    }
}

#prices {
    .cards-prices {
        width: 88%;

        .card {
            width: 100%;
            justify-self: center;
            margin-top: $gap-3;

            &:nth-child(2) {
                background: $green;
                transform: scale(1.15);

                h3,
                h4 {
                    color: $white !important;
                }

                ul {
                    li {
                        color: $gray;
                    }
                }
            }
        }
    }

    h3 {
        color: $black !important;
        text-align: center;
        font-size: 1.5rem !important;
    }

    h4 {
        color: $green;
        font-weight: bold;
        font-size: 1.8rem;
        width: 100%;
        text-align: center;
        margin-bottom: $gap-2;
    }

    ul {
        margin: $gap-3 0;

        li {
            margin-bottom: $gap-2;
            color: $gray-dark;
        }
    }
}

#testimonials {
    .container {
        padding: 5rem 0 0;
    }
}

.swiper-container {
    padding: 1rem 1rem 2rem;

    .swiper-slide {
        display: flex;
        justify-content: center;
    }
}

.swiper {
    .card {
        box-shadow: -4px 4px 25px rgba(6, 214, 160, 0.25);
        border-radius: $border-r-3;
        padding: 2rem;
        max-width: 350px;

        img {
            max-width: 100px;
            margin: 0 auto;
        }

        h3 {
            margin-top: $gap-2;
            margin-bottom: $gap-2;
        }
    }
}